<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tutorials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BF2BA6F1E2E272E00EFE5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF2BA851E2E272E00EFE5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF2BA901E2E272E00EFE5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
